# Python cache and bytecode
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class

# Virtual environments & dependencies
venv/
.venv/
env/
.env

# Package & build artifacts
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/

# IDE and caching
.cache/
.pytest_cache/
scratch/

# SQLite & databases
*.db
*.sqlite
*.sqlite3
pensieve.db
test.db
